# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.sw?
.gradletasknamecache

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# New Relic
newrelic/
